bin/
/build/
output.raw
output.res
.classpath

## -------------------------------
## Kate Swap Files
## -------------------------------
*.kate-swp
.#kate-*

## -------------------------------
## Backup artifacts
## -------------------------------
~*
*~

# maven output
target
/testoutput.ben.cnf
/testoutput.db.cnf
/testoutput.raw
/testoutput.res
/testoutput.summary
